In [1]:
import pydataset

Com o método ```data``` é possível verificar quais os dataset's disponíveis, a própria listagem dos dataset's é um DataFrame do Pandas

In [2]:
pydataset.data().head()

      dataset_id                                        title
0  AirPassengers  Monthly Airline Passenger Numbers 1949-1960
1        BJsales            Sales Data with Leading Indicator
2            BOD                    Biochemical Oxygen Demand
3   Formaldehyde                Determination of Formaldehyde
4   HairEyeColor    Hair and Eye Color of Statistics Students

In [3]:
pydataset.data().tail()

      dataset_id                                             title
752      VerbAgg                  Verbal Aggression item responses
753         cake                 Breakage Angle of Chocolate Cakes
754         cbpp                 Contagious bovine pleuropneumonia
755  grouseticks  Data on red grouse ticks from Elston et al. 2001
756   sleepstudy       Reaction times in a sleep deprivation study

Para carregar um dataset basta passar o nome dele

In [4]:
titanic = pydataset.data('titanic')
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

Se quiser ver apenas a documentação do dataset basta passar a opção show_doc=True

In [5]:
pydataset.data('titanic', show_doc=True)

titanic

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## titanic

### Description

The data is an observation-based version of the 1912 Titanic passenger
survival log,

### Usage

    data(titanic)

### Format

A data frame with 1316 observations on the following 4 variables.

`class`

a factor with levels `1st class` `2nd class` `3rd class` `crew`

`age`

a factor with levels `child` `adults`

`sex`

a factor with levels `women` `man`

`survived`

a factor with levels `no` `yes`

### Details

titanic is saved as a data frame. Used to assess risk ratios

### Source

Found in many other texts

### References

Hilbe, Joseph M (2014), Modeling Count Data, Cambridge University Press Hilbe,
Joseph M (2007, 2011), Negative Binomial Regression, Cambridge University
Press Hilbe, Joseph M (2009), Logistic Regression Models, Chapman & Hall/CRC

### Examples

    data(titanic)
    titanic$survival <- titanic$survived == "yes"
    glmlr <- glm(survival ~ age + sex + factor(class), family=binomial, data=titanic)
    summary(glmlr)